
Screen {
    layout: vertical;
}

Input {
    dock: top;
    height: 3;
    border: heavy white;
    overflow: hidden;
}

#results-container {
    width: 100%;
    height: 1fr;
    overflow-y: auto;
}

CommandBlock, InfoBlock {
    width: 100%;
    height: auto;
    padding: 0 1;
}

CommandBlock:focus, InfoBlock:focus {
    background: $primary-darken-1;  /* менее яркий цвет выделения */
}

/* Свернутый блок */
CommandBlock.collapsed {
    height: 1;
    overflow: hidden;
}

/* Стили для кликабельных ссылок на команды */
.link {
    text-style: bold;
    color: $accent;
    background: $primary-lighten-3;
}

.link:hover {
    background: $accent-lighten-2;
    text-style: bold;
}

/* Стили для JSON Viewer */
JSONViewer {
    layout: vertical;
}

JSONViewer Tree {
    height: 1fr;
}
